*~
.DS_Store
target
.idea
*.iml
.project
.classpath
.settings
out
.repo
aws.properties
run.sh
logs
installation
databases
test-bench/
devenv.local
dependency-reduced-pom.xml
import-bundle/
*.tar.gz
Vagrantfile
git.properties
temp
node_modules
